<div class="content" ng-controller="homeController as homeCtl">

	<table class="document-list">

		<tr ng-repeat="domain in homeCtl.functionalDomains"
			class="document-list">

			<td class="document-list" colspan="2"><span
				ng-click="homeCtl.getEvaluationByDomain(domain)"> <i
					class="{{ homeCtl.currentDomain == domain ? 'fa fa-folder-open' : 'fa fa-folder' }}"></i>
					{{ domain }} - ({{ homeCtl.countEvaluations[domain] }})
			</span>
				<table ng-show="homeCtl.evaluations[domain].length > 0"
					class="document-list">
					<thead class="document-list-header">
						<td style="width: 30px;"></td>
						<td style="width: 30px;"></td>
						<td>Application</td>
						<td>Release</td>
						<td>Completed</td>
						<td>
							<div class="button small">
								<span class="fa fa-files-o"></span>
								<span>Compare</span>
							</div>
						</td>
					</thead>
					<tbody ng-repeat="evaluation in homeCtl.evaluations[domain]">
						<tr ng-class-odd="'odd'" ng-class-even="'even'">
							<td><i
								class="{{ homeCtl.currentEvaluation === $index ? 'fa fa-folder-open' : 'fa fa-folder' }}"
								ng-click="homeCtl.evaluationDetail($index)"></i></td>
							<td><i
								class="{{ evaluation.repository == 'incoming' ? 'fa fa-download' : 'fa fa-check' }}"</i></td>
							<td>{{ evaluation.appName }}</td>
							<td>{{ evaluation.release }}</td>
							<td>
								<p class="progress">
								<meter id="scoreProgress" 
								       value="{{ (evaluation.criteriaScored / evaluation.criteriaScorable) * 100 | number:0 }}" 
								       max="100" 
								       min="0" 
								       optimum="100" 
								       low="100" 
								       high="100">
								</meter>
								</p>
							</td>
							<td>
								<input type="checkbox">
							</td>
						</tr>
						<tr ng-show="homeCtl.currentEvaluation === $index">
							<td colspan="4">
								<ul>
									<li>language : {{evaluation.language}}</li>
									<li>license : {{evaluation.licenseDesc}}</li>
									<li>repository : {{evaluation.repository}}</li>
									<li>created : {{evaluation.creationTimestamp |
										date:"dd/MM/yyyy"}}</li>
								</ul>
								<div class="button"
									ng-click="homeCtl.validateEvaluation(evaluation)"
									ng-show="evaluation.repository == 'incoming' && (evaluation.criteriaScored / evaluation.criteriaScorable) == 1">
									<span class="fa fa-check-square-o"></span> <span>validate
										evaluation</span>
								</div>
							</td>
						</tr>
					</tbody>
				</table></td>

		</tr>

	</table>

</div>