.document-list {
	width: 100%
}

.document-list-header {
	width: 100%
}

table {
	width: 100%
}

.document-list-header td {
	color: white;
	background-color: gray;
	padding: 5px;
}

.document-list td, li {
	padding: 5px;
}

.document-list ul {
	padding-left: 30px;
}

.odd {
	background-color: #F9F6F4;
	color: #111b1b;
}

.even {
	background-color: #E9E0DB;
	color: #111b1b;
}

.button {
	width: 200px;
	height: 28px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background-color: black;
	padding: 6px;
	border-radius: 3px;
	border: 1px solid black;
}

.button span {
	color: white;
}

.button:hover, .button:hover span {
	background-color: white;
	color: black;
}

.small {
	width: 101px;
}

meter {
	-webkit-appearance: none;
}

.progress meter::-webkit-meter-bar {
	background: #666;
	-webkit-box-shadow: inset 0 0 2px 2px #555;
	-moz-box-shadow: inset 0 0 2px 2px #555;
	box-shadow: inset 0 0 2px 2px #555;
}

.progress meter::-webkit-meter-bar, .style meter::-webkit-meter-optimum-value,
	.style meter::-webkit-meter-suboptimum-value, .style meter::-webkit-meter-even-less-good-value
	{
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.progress meter::-webkit-meter-optimum-value {
	background: #50b457;
	border: 1px solid #1560ad;
}

.progress meter::-webkit-meter-suboptimum-value {
	background: #ed5645;
	border: 1px solid #b9870d;
}
​